<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="src/styles/normalize.css">
<link rel="stylesheet" type="text/css" href="src/styles/index.css">

<script>
    window._csrf="<%= token %>";
    window._currentUserId = "<%= currentUser %>";
</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
    window.getRootWidth = function(){
        if(window.innerWidth !== undefined && window.innerHeight !== undefined) { 
            var w = window.innerWidth;
            var h = window.innerHeight;
        } else {  
            var w = document.documentElement.clientWidth;
            var h = document.documentElement.clientHeight;
        }
        
        return h - 80;
    }
    window.getRootWidth2 = function(){
        return window.getRootWidth() + 20;
    }
</script>

<body class= <% if (isInIndexPage) { %>
        <%- 'body' %>
        <% } else { %>
        <%- '' %>
        <% } %>>
    <div class="viewport">
        <header class="header cf" <% if (isInIndexPage) { %>
                <%- '' %>
                <% } else { %>
                <%- 'style="background-color:#333;"' %>
                <% } %>>
            <h1>
                <a href="/" class="logo ir">Share Money</a>
            </h1>
            <div class="user">
                <% if (isAuthenticated) { %>
                <%- partial('partials/user-loggedin') %>
                <% } else { %>
                <%- partial('partials/user-loggedout') %>
                <% } %>
            </div>
        </header>
        <div>
            <%- body %>
        </div>

        
    </div>
    <footer class="footer">

    </footer>
</body>

</html>